.footer {
  background-color: $background-color-secondary;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  padding: 0px 15px;
  width: 1200px;
}

.address__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__place {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $background-color-main;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $logo-second-color;
}
