.mail-container {
  margin-left: 93px;
}

.button--mail {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.button__icon {
  margin-left: 10px;
}

.mail-form__input {
  width: 358px;
  margin: 0px;
  padding: 15px 16px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0);
  color: rgba(255, 255, 255, 0.6);
  outline: none;

  &:focus {
    border: 1px solid $accent-color;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
