.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;

  &--overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/companyteam.jpg);
  }
}

.hero__title {
  max-width: 696px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  text-align: center;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background-color-main;
}

.button {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  color: $background-color-main;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: $background-color-main;
  }
}
