// LOGO

.main-nav__logo {
  color: $logo-main-color;
  text-decoration: none;
  @extend %fonts-raleway;
}

.logo-blue {
  color: $accent-color;
  text-decoration: none;
  @extend %fonts-raleway;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: $logo-second-color;
  text-decoration: none;
  @extend %fonts-raleway;
}
