.form {
  width: 448px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  margin: 0px;
  padding: 11px 12px 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.form__input:focus + .form__icon {
  fill: $accent-color;
}

.form__label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__comment {
  width: 100%;
  height: 120px;
  margin: 0px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &:focus {
    border: 1px solid $accent-color;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.policy__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 8px;
}

.policy__field {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.policy__link {
  color: $accent-color;
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: $background-color-main;
  border: 2px solid $secondary-text-color;
  border-radius: 4px;
}

.policy__checkbox:checked + .policy__icon {
  background-image: url('../images/check.svg');
  background-size: contain;
  background-origin: border-box;

  background-color: $accent-color;
  border-color: $accent-color;
}

.submit__field {
  text-align: center;
}
