// .page-header {
//   border-bottom: 1px solid #ececec;
// }

// .page-header__container {
//   display: flex;
//   align-items: center;

//   margin: 0 auto;
//   padding: 0px 15px;
//   width: 1200px;
// }

// .main-nav {
//   display: flex;
//   align-items: center;
// }

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  margin: 0 auto;
  padding: 0px 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }
}

.menu-button {
  display: inline-flex;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.main-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
